


.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  background-color: #f58183;
  box-shadow: 0 8px 4px rgb(0 0 0 / 29%)
}
.goods-search {
  border-color: #000000;
}
.search-button {
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 0 0 0px 0px;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
  cursor: pointer;
}
.search-button:active {  
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);     
}
.cart-button {
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 0 50px 0 0;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
  cursor: pointer;
  
}
.cart-button:active {  
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);     
}



.cart-total-products {
  margin: 0 0 0 0;
}
.cart-total-price {
  margin: 0 0 0 0;
}
.cart-btn {
  background-color: #a9b5f8;
  margin: 10px 10px 10px 20px;
  padding: 10px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(122,122,122,0.5);
  border-radius: 5px; 
}
.cart-btn:active {
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);  
}
.cart-input-button {
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 0 0 0 30;
 
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
}
.cart-input-button:active {
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);
}










.goods-list {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.goods-item {
  border: 1px solid wheat;
  width: 150px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 10px 10px;
}

.basket {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 140px;
  margin: 10px 0 0 0;
}

.basket-header {
  text-align: center;
}

/* модальное окно формы регистрации */

.modal-mask {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.users-form {
  display: block;
}
.modal-body {
  margin: 20px 0;
}
.modal-default-button {
  float: right;
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 550px 0px 0px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
}

.modal-cart-button {
  
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 550px 0px 0px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
}


.cart-input-button:active {
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.reg-form {
  margin: 10px;
  width: 95%;
  height: 95%;
}
.users-form {
  margin-left: 130px;
}

.close-reg-btn {
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 10px 10px 10px 35px;
  padding: 10px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5);
  border-radius: 5px; 
}

.close-reg-btn:active {
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);
}

.form-control-name {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;
}

.form-control-secondname {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;

}

.form-control-mail {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;

}

.form-control-phone {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;

}

.form-control-password-first {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;

}
.form-control-password-twice {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;
}

.input-group {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  border-color: #000000;
}

.ready-to-send { 
  display: none;
  
}

.text-phrase {
  width: 350px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  border-color: #000000;
}

.form-control-text {
  width: 350px;
  height: 150px;
  margin-bottom: 10px;
  border-color: #000000;
}

/* модальное окно корзины */

.modal-cart-mask {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-cart-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-cart-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-cart-body {
  margin: 20px 0;
}
.modal-default-button {
  float: right;
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 550px 0px 0px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
}

.modal-cart-button {
  
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 550px 0px 0px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5); 
  border-radius: 3px; 
}

.cart-input-button:active {
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);
}
.cart-hide-btn {
  margin: 0 0 569px 605px;
  background-color: #FFFFFFFF;
  border-color: #FFFFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222222;
  z-index: 3;
  cursor: pointer;
}


.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.close-reg-btn {
  background-color: #05c76c;
  width: 95px;
  height: 45px;
  margin: 10px 10px 10px 35px;
  padding: 10px 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0.4em 0.4em 2px rgba(4, 71, 8, 0.5);
  border-radius: 5px; 
}

.close-reg-btn:active {
  box-shadow: 0.0em 0.0em 0px rgb(255, 254, 254);
}



